<ion-view>
<div class="bar bar-header">
  <button class="button icon ion-arrow-left-a" ng-click="historyback()"></button>
     <div class="h1 title">添加朋友</div>
 </div>

 <div class="content has-header ionic-pseudo">

   <div class="list list-inset">
     <div class="item item-input-inset">
       <label class="item-input-wrapper">
         <input type="text" placeholder="查找好友" ng-model="userid">
       </label>
       <button class="button button-small" ng-click="findUserid(userid)">
         搜索
       </button>
     </div>
     <div class="item item-input-inset" ng-show="noUser">
        <p style="">
          亲，没有找到你要找的用户哦~
        </p>
     </div>
     <a class="item item-avatar item-icon-right href="#" ng-switch="ishufan" ng-show="!noUser">
       <img src="{{headUrl}}">
       <h2>{{nickname}}</h2>
       <p>{{area}}</p>
          <i class="icon ion-checkmark-round energized" ng-switch-when="1"></i>
          <i class="icon ion-person-add energized" ng-switch-when="0" ng-click="fanTa(userid)"></i>
          <!-- <element ng-switch-default></element> -->
     </a>
   </div>

 </div>
</ion-view>
