<ion-view>
  <div class="bar bar-header bar-stable">
    <div class="h1 title">我的收藏</div>
  </div>

 <ion-content class="has-header">

   <div class="list">

     <a class="item item-thumbnail-left" href="#" ng-repeat="x in data">
       <img ng-src="{{x.thumbpic}}">
       <h2>{{x.topic}}</h2>
       <p style="text-overflow: ellipsis;white-space: nowrap;">{{x.content}}</p>
     </a>

     <!-- <a class="item item-thumbnail-left" href="#">
       <img src="http://www.runoob.com/try/demo_source/siamese-dream.jpg">
       <h2>Smashing Pumpkins</h2>
       <p>Siamese Dream</p>
     </a>

     <a class="item item-thumbnail-left" href="#">
       <img src="http://www.runoob.com/try/demo_source/nevermind.jpg">
       <h2>Nirvana</h2>
       <p>Nevermind</p>
     </a>

     <a class="item item-thumbnail-left" href="#">
       <img src="http://www.runoob.com/try/demo_source/license-to-ill.jpg">
       <h2>Beastie Boys</h2>
       <p>License To Ill</p>
     </a>

     <a class="item item-thumbnail-left" href="#">
       <img src="http://www.runoob.com/try/demo_source/dookie.jpg">
       <h2>Green Day</h2>
       <p>Dookie</p>
     </a>

     <a class="item item-thumbnail-left" href="#">
       <img src="http://www.runoob.com/try/demo_source/dookie.jpg">
       <h2>Green Day</h2>
       <p>Dookie</p>
     </a>

     <a class="item item-thumbnail-left" href="#">
       <img src="http://www.runoob.com/try/demo_source/dookie.jpg">
       <h2>Green Day</h2>
       <p>Dookie</p>
     </a> -->

   </div>

 </ion-content>

 </ion-view>
