.inputContent {
  overflow: hidden;
  word-wrap: break-word;
  height: 120px;
  resize: none;
  max-height: 230px;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  width: 100%;
  padding: 6px 12px;
  background-color: #fff;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  display: block; }

.uploadPicView {
  width: 20%;
  height: 60px;
  display: block;
  margin-bottom: 4px;
  position: relative;
  background-color: #fff;
  float: left;
  overflow: hidden;
  padding: 4px; }

.inputFile {
  width: 60px;
  height: 60px;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: 2; }

.uploadPicView img {
  width: 100%;
  height: 54px; }
